body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

button {
    margin: 10px;
}

.canvas-container {
    height: 500px;
    width: 500px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.canvas-cells:hover {
    background-color: red;
}